html{
    height:140%;
}

body{
    background-color: #2F3035;
    background-image: url(images/peter-ivey-hansen-4nmnA9hgYDo-unsplash.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    /* background-color:ivory; */
    height: 118px;
    text-align: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main{
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer{
    background-color: rgba(0,0,0,0.26);
    text-align: center;
    /* height: 100px; */
    padding-top:25px;
    padding-bottom:25px;
}

h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    font-size: 10px;
    text-align:center;
    color: white;
}

.menu{
    text-align: center;
}
